@model MusicStore.WebApp.Models.ItemTypeViewModel
 

 
<form asp-action="AddType" method="post">
    <div class="form-group">
        <label for="Type">New Type</label>
        <input name="Type" id="Type" class="form-control" asp-for="Type"/>
         <span asp-validation-for="Type"></span> 
    </div>
    <button type="submit" class="btn btn-primary">Add</button>
</form>