@model ChangePasswordModel
@{
    Layout = null;
}
<div class="modal-content">
    <div class="modal-header">
        <button class="close" data-dismiss="modal" area-hidden="true">X</button>
    </div>
    <div class="modal-body">
        <dl class="dl-horizontal">
            @using (Html.BeginForm("ChangePassword", "Role", FormMethod.Post, new {enctype = "multipart/form-data"}))
            {
                <form asp-action="ChangePassword" method="post">
                    <div class="form-group">
                        <label for="exampleInputName">@Localizer["Password"]</label>
                        <input type="password" class="form-control" id="exampleInputName" placeholder="@Localizer["Enter password"]" asp-for="Password">
                        <span asp-validation-for="Password"></span>
                    </div>
                    <button type="submit" class="btn btn-primary" CausesValidation="True">@Localizer["Save"]</button>
                    @Html.HiddenFor(model => model.Id)
                </form>
            }
        </dl>
        
    </div>
 
</div>