@model ChangePasswordModel
    @using (Html.BeginForm("ChangePassword", "Role", FormMethod.Post, new {enctype = "multipart/form-data"}))
    {
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" data-dismiss="modal" area-hidden="true">X</button>
            </div>
            <div class="modal-body">
                <dl class="dl-horizontal">
                    <form asp-action="ChangePassword" method="post">
                        <div class="form-group">
                            <label for="exampleInputName">@Localizer["Password"]</label>
                            <input type="password" class="form-control" id="exampleInputName" placeholder="@Localizer["Enter password"]" asp-for="Password">
                            <span style="color: red" asp-validation-for="Password"></span>
                        </div>
                        <button type="submit" class="btn btn-primary" onclick="return validate()" CausesValidation="True">@Localizer["Save"]</button>
                        @Html.HiddenFor(model => model.Id)
                    </form>

                </dl>

            </div>

        </div>
    }
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
<script type="text/javascript" >  
      function validate() {  
       var txt = document.getElementById('<%= exampleInputName %>').innerText;  

       var pattern = new RegExp("^[a-zA-Zа-яА-ЯàáâäãåąčćęèéêëėįìíîïłńòóôöõøùúûüųūÿýżźñçčšžÀÁÂÄÃÅĄĆČĖĘÈÉÊËÌÍÎÏĮŁŃÒÓÔÖÕØÙÚÛÜŲŪŸÝŻŹÑßÇŒÆČŠŽ∂ð ,.'-]+$");
       if (!pattern.test(text)) {  
           txt.style.border = "1px solid Red";  
           console.log("text");
           return false;  
       }  
       else
           console.log("else")
           console.log(txt.value)
       
   }  
</script>   